.app__reputation {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  flex-direction: column;
}
.app__reputation-heading {
  font-family: var(--font-base);
  font-weight: 600;
  font-size:4rem;
  color: var(--color-neutral);
  width: 30rem;
}
.app__reputation-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}
.app__reputation-card {
  width: 20rem;
  height: 15rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 2rem;
  border-radius: 15px;
  padding: 1rem;
  box-shadow: 5px 5px 30px grey;
}
.app__reputations-card_heading{
  color: #3D445C;
  font-size: 1.7rem;
  font-family: var(--font-base);
}

.app__reputations-card_subheading{
  font-family: var(--font-base);
  color: #858EAD;
}
.app__reputation-card a {
  color: var(--color-secondary);
  font-size: 2.5rem;
}

@media screen and (max-width: 650px){
  .app__reputation-heading {
    font-family: var(--font-base);
    font-weight: 600;
    font-size:2.2rem;
    color: var(--color-neutral);
    width: 20rem;
    text-align: center;
  }
  .app__reputation-cards {
    flex-direction: column;
    gap: 2rem;
  }
  .app__reputation-card {
    width: 17rem;
    height: 15rem;
  }
  .app__reputations-card_heading{
    color: #3D445C;
    font-size: 1.7rem;
    font-family: var(--font-base);
  }
  
  .app__reputations-card_subheading{
    font-family: var(--font-base);
    color: #858EAD;
  }
}
