main.app__main {
  gap: 5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem 2rem;
}
/*=====================================
      1. Left Section => Buttons
  =====================================*/
main .app__main-heading {
  font-family: var(--font-base);
  color: var(--color-neutral);
  font-size: 4rem;
  margin-bottom: 2rem;
}
main.app__main .main__left-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

main.app__main .main__left-section button {
  inset: unset;
  background-color: var(--color-neutral);
  width: 15rem;
  text-align: center;
  color: white;
  padding: 0.75rem 0;
  border-radius: 0.5rem;
  text-transform: capitalize;
  font-size: 1.2rem;
  opacity: 0.7;
  transition: 0.3s;
}

main.app__main .main__left-section button:hover {
  opacity: 1;
}

main.app__main .main__left-section button.active {
  opacity: 1;
  font-weight: bold;
  letter-spacing: 0.01rem;
  padding: 0.8rem 0;
  border: 1px solid var(--blue);
}

/*=====================================
      2. Right Section => Cards
  =====================================*/

main.app__main .right-section {
  margin-top: 6rem;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;

}
.card {
  border-radius: 3px;
  overflow: hidden;
  height: max-content;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.card img{
  padding-left: 0;
  margin-left: 0;
  width: 100%;
  height: 14rem;
}
.card:hover {
  transition: all ease 0.5s;
  scale: 1.05;
}
.card .box {
  border: 2px solid var(--color-neutral);
  font-family: var(--font-base);
  background-color: var(--color-primary);
  color: white;
  padding: 1rem 0.5rem;
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.card .box .title {
  font-size: 1.2rem;
  text-align: center;
}
.card .box .sub-title {
  font-size: 0.8rem;
}

/*=====================================
      3. Responsive design
  =====================================*/

@media (max-width: 600px) {
  main.app__main {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 4rem 0;
  }
  main.app__main .main__left-section {
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  main.app__main .main__left-section button {
    width: 8rem;
    padding: 0.75rem 0;
    font-size: 1rem;
  }
  main .card {
    height: max-content;
    width: 70%;
    display: flex;
    flex-direction: column;
  }
}
