.app__nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.6rem;
  width: 100%;
  z-index: 10;
  background-color: white;
  transition: all ease 0.5s;
}
.app__navSmall {
  background-color: white;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.6rem;
  width: 100%;
  z-index: 10;
  transition: all ease 0.5s;
}

.app__nav-logoImg {
  height: 100%;
  width: 10rem;
}
.app__nav-logoImg img {
  width: 100%;
  height: 100%;
}
.app__nav-links {
  justify-content: space-around;
  list-style: none;
  width: 60%;
  margin-right: 2rem;
}
.app__nav-links li a {
  color: black;
  text-decoration: none;
  font-family: var(--font-base);
}
.app__nav-links li:last-child a {
  color: var(--color-secondary);
}
/*////////////// menu button ///////////*/
.menu {
  position: absolute;
  display: none;
  z-index: -1;
  top: 0;
  right: 0;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 10vh;
  width: 100%;
  flex-direction: column;
  transition: all ease 0.5s;
}
.menu span {
  color: var(--color-neutral);
  font-size: 2rem;
  transition: all ease 0.3s;
}
.app__nav-menu {
  transition: all ease 0.5s;
  width: 100%;
  background-color: var(--color-primary);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__nav-menu_links {
  flex-direction: column;
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 70%;
  margin-right: 2rem;
}
.app__nav-menu_links li a {
  color: white;
  font-size: 1.5rem;
  text-decoration: double;
  font-family: var(--font-base);
}
.app__nav-menu_links li:last-child a {
  color: var(--color-primary);
}
.overlay__close {
  display: none;
  font-size: 27px;
  color: var(--color-golden);
  cursor: pointer;
  position: absolute;
  z-index: 5;
  top: 20px;
  right: 20px;
}

@media screen and (max-width: 650px) {
  .menu {
    display: block;
    z-index: 5;
    height: 100vh;
  }
  .app__nav-links {
    display: none;
  }
  .overlay__close {
    display: block;
  }
  .app__nav{
    height: 4rem;
    position: relative;
  }
  .app__navSmall{
    position: relative;
    height: 4rem;
  }



}
