.app__services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.app__reputation-heading {
  text-align: center;
}

.app__services-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 4rem;
  margin-top: 4rem;
}
.app__services-card {
  text-align: center;
  width: 25%;
  height: 12rem;
  padding: 2rem;
  border-radius: 7px;
  box-shadow: 5px 20px 40px grey;
}
.app__services-card span{
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--color-neutral);
}

/* selecting even children */
.app__services-card:nth-child(even){
  background-color: var(--color-primary);
  color: white;
}
.app__services-card:nth-child(even) h2 ,
.app__services-card:nth-child(even) span {
  color: white;
}

.app__services-cards_line {
  border: 1px solid grey;
  width: 30%;
  
  margin: auto;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}

.app__services-card h2 {
  font-family: var(--font-base);
  color: var(--color-primary);
}
@media screen and (max-width: 1080px) {
 
  .app__services-cards{
    gap: 1.5rem;
  }
  .app__services-card {
    text-align: center;
    width: 28%;
    height: 14rem;
    padding: 2rem;
    border-radius: 7px;
    box-shadow: 5px 20px 40px grey;
  }
}
@media screen and (max-width: 650px) {
  .app__services-cards {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 4rem;
  }
  .app__services-card {
    width: 80%;
  }
  .app__services-card h2 {
    font-family: var(--font-base);
    color: var(--color-primary);
    font-size: 1.2rem;
  }
}
