
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --font-base: "Work Sans", sans-serif;
  --color-primary: #2947A9;
  --color-secondary: #F9995D;
  --color-neutral: #292E3D;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}