footer.app__footer{
    font-family: var(--font-base);
    width: 100%;
    padding-top: 3rem;   
}
footer .app__footer-main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: max-content;
    padding-bottom: 3rem;
}
footer .app__footer-main-left{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2rem;
}
footer .app__footer-main-right img{
    width:15rem;
    height:calc(15rem * 1.41);
    /* margin-top: -3rem; */
}
footer .app__footer-main-left h3{
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--color-neutral);
}
footer .app__footer-main-left span{
    margin-right: 1rem;
}
footer .app__footer-main-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
footer .app__footer-main-right p{
    color: var(--color-neutral);
    font-family: var(--font-base);
}


footer .app__footer-icons span{
    font-size: 2rem;
    color: var(--color-neutral);
}
footer .app__footer-copyrights{
    background-color: var(--color-primary);
    color: white;
    padding: 2rem;
    height: 5rem;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

footer .blue__style{
    text-transform: uppercase;
    color: var(--color-primary);
}


@media screen and (max-width:650px){
    footer .app__footer-main{
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        height: max-content;
        gap: 2rem;
        margin: 1rem 0;
        padding: 1rem 1rem;
    }
    footer .app__footer-main-left{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 2rem;
        width: 100%;
    }
    footer .app__footer-main-right{
        margin: auto;
    }
    footer .app__footer-main-left h3{
        font-size: 1rem;
        font-weight: 600;
        width: 100%;
        color: var(--color-neutral);
    }
    footer .app__footer-main-left span{
        margin-right: 0.5rem;
        font-size: 1.1rem;
    }
}